@page "/"

<h1>Witam Pana profesora</h1>

<div>Projekt stanowi nowoczesną implementację klasycznego automatu komórkowego „Gra w życie” Johna Conwaya.<br />
    System został zaprojektowany w architekturze mikroserwisowej, kładąc nacisk na wydajność obliczeniową, konteneryzację oraz trwałość danych.</div>
<div><h1>Stos technologiczny </h1>
    <div>Backend: ASP.NET Core 8 API: Serce systemu odpowiedzialne za logikę gry i zarządzanie stanem.</div>
    <div>Entity Framework Core:  ORM do komunikacji z bazą danych.</div>
    <div>PostgreSQL:  Relacyjna baza danych przechowująca zapisane stany gry.</div>
    <div>Redis:  Warstwa cachująca dla sesji.</div>
    <div>Infrastruktura:  Docker & Docker Compose: Pełna konteneryzacja środowiska (API, DB, Cache)</div>
    <div>Nginx:  Zarządzanie ruchem i serwowanie frontendu.</div>
</div>
<div><br />Projekt zrobiony przez:</div>
<div>Semion Lisichik</div>
<div>Stanisław Mierzejewski</div>
