@page "/"

<h1>Witam Pana profesora</h1>

<div>Projekt stanowi nowoczesną implementację klasycznego automatu komórkowego „Gra w życie” Johna Conwaya. 
    System został zaprojektowany w architekturze mikroserwisowej, kładąc nacisk na wydajność obliczeniową, konteneryzację oraz trwałość danych.</div>
<div>Projekt zrobiony przez:</div>
<div>Semion Lisichik</div>
<div>Stanisław Mierzejewski</div>
